@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.blm{
    padding-top: 13px; 
    background: linear-gradient(to bottom, #0b0a0af0, #151111f7);
    display: flex;
    color: white;
    justify-content: center;
}

.blm div{
    font-size: 15px;
    margin-left: 13px;
    margin-right: 13px;
    border-radius: 17px;
}
    
.bloghead{
    width: 1368px;
    height: 100%;
    background: linear-gradient(#070707,#572f2fc9);
    border-radius: 15px;
    padding: 20px;
    padding-left: 15px; 
}
 
.bloghead:hover {
    transform:translateZ(27px);
    transition: all 1.2s;
    box-shadow: 3px 3px 18px 4px rgb(46, 28, 28);
}  
 
p,ul li{
    font-size: 18px;
    
    font-family: 23px;
    font-family: 'Ubuntu', sans-serif;
    margin: 13px;
    padding: 3px;
}
legend{
    text-align: center;
}
 fieldset{
     border: 1px solid black;
     border-radius: 19px;
    
 }
.headcomment{
    background: url('./fir-burn.jpg') repeat-x;
    background-size: contain;
    text-transform: uppercase;
    background-clip: text;
    font-size: 44px;
    color: rgba(255, 255, 255, 0.2);
    animation: fire 4s linear infinite;
    transform: translateZ(12px);
    text-shadow: 9px 15px 14px #413223;
}

.commentshead{  
    color: white;
    margin: 0px;
    background: linear-gradient(to bottom,#070707, #642828c9);
}
.headcomment{
    text-align: center;
}
.innerdivforrattng{
    display:  flex;
    justify-content: space-between;
}
.iconforrat{
    display:  flex;
    justify-content: center;
    flex-direction: column;
}
.mainbox,.form{
    margin-left: 0px !important;
}
@media (max-width:573px) {
    html{
        font-size: 80% !important;
    }
}
.iconforrat svg{
    font-size: 2rem;
}
.iconforrat p{
    margin: 0px;
    font-size: 1.7rem !important;
    color:  rgb(211, 144, 43);
    font-weight: 700;
}
@media  (max-width:953px) {
    .blm{
        flex-wrap: wrap;
    }
}
.contentoftech,
.contentoftech P{
    margin-right: 0px;
}
@media (max-width:654px){
   .bloghead div{
       margin-left: 12px;
   }
    .bloghead{
        padding-left: 0px;
    }
    .contentoftech,
    .innerdivforrattng div{
        font-size: 70% !important;
    }
 .commentshead{
    margin: 0px;
 }   
}
.innerdivforrattng div:nth-child(1){
    font-size: 1.5rem !important;
}
@media (max-width:379px)  {
    .contentoftech,.innerdivforrattng div{
        font-size: 60% !important;
    }
    .bloghead div h2{
        font-size: 20.5px;
    }
    .bloghead p{
        font-size: 16.7px;
    }
 
}