// @import "bourbon";s
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    line-height: 1.5;
}
.container {
    width: 50%;
    margin: 0 auto;
}
.includecomment input{

}
.form {
    font-size: 1rem;
} 
.form input{
    border-radius: 7px;
}
.form input:focus
{      
    background-color: rgb(54, 34, 34) !important;
    color: white !important; 
}   
.form input:hover,
.form button:hover{
   animation: anim 0.9s linear alternate 2;
}   

@keyframes anim{
    0%{
         transform:scale(1);
    }
    100%{
        transform:scale(0.9);
    }
}
.form input[type="text"], .form input[type="email"], .form input[type="password"], .form textarea {
    background: #f5f5f5;
    border-color: #d8d8d8;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    display: inline-block;
    max-width: 100%;
    padding: 0.75rem;
    -webkit-appearance: none;
}
.form input[type="text"]:focus, .form input[type="email"]:focus, .form input[type="password"]:focus, .form textarea:focus {
    background: #fff;
    border-color: #338eda;
    outline: 0;
}
.form textarea, .form .textarea {
    min-height: 150px;
}
.form input[type="submit"]:focus {
    border: none;
    outline: 0;
}
.form .textarea-tall {
    min-height: 300px;  
}
.form-stacked input[type="text"], .form-stacked input[type="email"], .form-stacked input[type="password"], .form-stacked textarea {
    display: block;
    margin-bottom: 1.5rem;
    width: 100%;
}
.form-block {
    position: relative;
}
.form-controls {
    padding: 0 0.75rem;
    border-top: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.form-block textarea{
    font-size: 1.2rem !important;
 
}
.form-controls .button {
    padding: 0 1rem;
    font-size: 1.125rem;
}
.form-controls .button:hover {
    color: #338eda;
}
.button {
    border: none;
    cursor: pointer;
    display: inline-block; 
    min-height: 2rem;
    line-height: 2rem;
    font-size: em(14);
    font-family: inherit;
    text-decoration: none;
    padding: 0 0.75rem;
    white-space: nowrap;
    vertical-align: middle;
}
.label {
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.375rem;
    font-size: 0.875rem;
}
.note {
    background: #d8d8d8;
    font-size: 0.825rem;
    width: 250px;
    padding: 1.5rem;
    z-index: 100;
}
.note a {
    color: #338eda;
}
.includecomment{
    width: 100%;
    
    background:linear-gradient(to bottom,#1d1c1cc4, #534040e0);
}
.includecomment h1{
   text-align: center;
   
}


// comment section .
.includecomment input {   
     all: unset;
     display: block;
     margin: auto;
     width: auto;
     border-radius: 9px;
    font-weight: 600;
    height: 44px;
     margin-top: 9px;
     color: rgb(0, 0, 0) !important ;
     font-size: 20px;   
     text-align: center;
     background-color: rgb(218, 216, 216);
     padding-left: 8px;
     border: 1px solid rgb(78, 52, 52);
     box-shadow: 4px 4px 5px 3px rgb(54, 54, 54);     
     
}    
.includecomment input:hover{  
   transform: scale(1.1);
   transition: 1.2s; 
}

.add:hover{
    cursor: pointer;
    transform: scale(1.06);
    transition: 0.6s; 
}           
.includecomment{
    margin-top: 34px;
}  
.includecomment{
    padding-bottom: 24px;
}
.add{
    all: unset;
     display: block;
     margin: auto;
     width: 144px;  
     border-radius: 25px;
    font-weight: 600; 
    height: 53px;
     margin-top: 9px;
     color: rgb(0, 0, 0) !important ;
     font-size: 31px;   
     text-align: center;
     background-color: rgb(255, 0, 0);
     padding-left: 8px;
     border: 1px solid rgb(78, 52, 52);
     box-shadow: 4px 4px 5px 3px rgb(54, 54, 54); 
}
 
.includecomment h1{
    background: url('./fir-burn.jpg') repeat-x;
    background-size: contain;
    text-transform: uppercase;
    background-clip:text;  
    font-size: 44px;
    color: rgba(255,255,255,0.2);
    animation: fire 4s linear infinite;
    transform: translateZ(12px);
    text-shadow: 7px 12px 13px rgb(75, 56, 35); 
}
@keyframes fire {
    0%{
       background-position: left 34px top 20px;
    }100%{  
        background-position: left 34px top 0px;
    }  
    
}
@media (max-width:1064px) {
   .container{
       width: 80%;
   }
}

@media (max-width:555px){
    .includecomment input{
        width: 196px !important;
}
 
}