.spinner{
    width: 100% ;
    height: 100vh ;
    background-color: rgb(0, 0, 0) ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    animation: animbg 9s linear infinite ;
}     
@keyframes animbg {
  0%{
        filter: hue-rotate(0deg) ;
  }    
  100%{
    filter: hue-rotate(360deg) ;
 
  } 
}
.load{
    position: relative ;
  width: 120px ;
  height: 120px ;
}
.load span{
    position:absolute ;
    left: 0 ;
    top:0 ; 
    width: 100% ;
    height: 100% ;
    transform: rotate(calc(21deg * (var(--i)))) ;
}  
.load span::before{
    content: '' ;
    position: absolute ;
    top: 0 ;
    left: 0 ;
    width: 15px ;
    height:15px ;
   background-color: #00ff0a ;
    /* border: 2px solid white ; */
    border-radius: 50% ;
    box-shadow: 0 0px 10px #00ff0a,
               0 0px 10px #00ff08e1,
               0 0px 10px #00ff08bd,
               0 0px 10px #00ff089c,
               0 0px 10px #00ff08cc ;
        animation:  anim  1.7s linear infinite;
        animation-delay: calc(var(--i)*0.1s) ;
}  
@keyframes anim {
    0%{
     transform: scale(1);
    }
    80%,100%{
  transform: scale(0);
    }
}
